<h2>Estimado {{first_name}} {{last_name}}</h2>

<p>Le damos la bienvenida. Estamos emocionados de tenerlo como parte de nuestro programa educativo.</p>

<h6>A continuación, se detallan los datos de su inscripción:</h6>

<p><strong>Nombre:</strong> {{first_name}}</p>
<p><strong>Apellido:</strong> {{last_name}}</p>
<p><strong>Fecha de nacimiento:</strong> {{born_date}}</p>
<p><strong>Dirección:</strong> {{address}}</p>
<p><strong>Correo electrónico:</strong> {{email}}</p>
<p><strong>Teléfono:</strong> {{phone}}</p>
<p><strong>Género:</strong> {{gender}}</p>

<p>Si tiene alguna pregunta o necesita más información, no dude en ponerse en contacto con nosotros. Estamos aquí para ayudarlo en su proceso de aprendizaje.</p>

<h4>Le deseamos mucho éxito en su trayectoria educativa.</h4>
