{% extends 'base.html' %}

{% block title %} Read File {% endblock %}


{% block content %}
{% include 'navbar.html' %}
    <div class="container mt-3">
        <form method="post" class="w-25" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <section class="errors text-danger mt-2">
                            {% for error in field.errors %}
                            <article class="alert alert-danger d-flex align-items-center" role="alert">{{ error }}</article>
                            {% endfor %}
                        </section>
                    {% endif %}
                    {% if messages %}
                        <section class="messages text-success mt-2">
                            {% for message in messages %}
                            <article class="alert alert-success d-flex align-items-center" role="alert">{{ message }}</article>
                            {% endfor %}
                        </section>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </form>
    </div>
{% endblock content %}
